<!DOCTYPE HTML>
<html>

<head>
  <title>black_white</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>
  <div id="main">
    {{> header}}
    <div id="site_content">
      <div id="content">
        <!-- insert the page content here -->
        <h2>Site is under Maintenence</h2>
      </div>
    </div>
    {{> footer}}
  </div>
</body>
</html>
